<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <button>
        <a href="/register">Registrate</a>
    </button>
    <button>
        <a href="/login">Inicia sesion</a>
    </button>
    {% for docente in docentes %}
    <h5> {{docente.username}} </h5>
    <h5> {{docente.email}} </h5>
    <h5> {{docente.nivel}} </h5>
    <h5>----------</h5>
    {% endfor %}


</body>
</html>